<a href="https://colab.research.google.com/github/skyelong/cheatsheets/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Skye: Importing Libraries

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy as sp

#FILTERING ROWS

## Skye: PANDAS_Setting a filter to extract data from a file

In [0]:
# select CO2 emissions for the United States
hist_indicator = 'CO2 emissions metric' #These are the values for the filter, you can use a form
hist_country = 'USA' #This is the filter

mask1 = data['IndicatorName'].str.contains(hist_indicator) #Here we apply the filter
mask2 = data['CountryCode'].str.contains(hist_country)

# stage is just those indicators matching the USA for country code and CO2 emissions over time.
stage = data[mask1 & mask2] #Now we use the boolean operator to mask out this data

# select CO2 emissions for all countries in 2011
hist_indicator = 'CO2 emissions metric'
hist_year = 2011 #notice here you use a year this is a number

mask1 = data['IndicatorName'].str.contains(hist_indicator) 
mask2 = data['Year'].isin([hist_year]) #the call is different because it is not a string

# apply our mask
co2_2011 = data[mask1 & mask2]
co2_2011.head()

## SKYE_PANDAS_FILTERING ROWS USING STRING CONDITIONS

In [0]:
# Filter out most marching bands
no_bands = halftime_musicians[~halftime_musicians.musician.str.contains('Marching')]
no_bands = no_bands[~no_bands.musician.str.contains('Spirit')]

#Renaming columns

##Rename_Columns using dict

In [0]:
df.rename(columns={"A": "a", "B": "c"})

##Rename multiple columns using a list

In [0]:
# Create list of new column labels: new_labels
new_labels = ['NOC', 'Country', 'Gold']

# Rename the columns of medals using new_labels
medals.columns = new_labels

##Rename columns using part of a string
.str.replace()

In [0]:
# Extract selected columns from weather as new DataFrame: temps_f
temps_f = weather[['Min TemperatureF','Mean TemperatureF','Max TemperatureF']]

# Convert temps_f to celsius: temps_c
temps_c = (temps_f-32)* 5/9

# Rename 'F' in column names with 'C': temps_c.columns
temps_c.columns = temps_c.columns.str.replace('F','C')

# Print first 5 rows of temps_c
print(temps_c.head())
"""
                Min TemperatureC  Mean TemperatureC  Max TemperatureC
    Date                                                             
    2013-01-01         -6.111111          -2.222222          0.000000
    2013-01-02         -8.333333          -6.111111         -3.888889
    2013-01-03         -8.888889          -4.444444          0.000000
    2013-01-04         -2.777778          -2.222222         -1.111111
    2013-01-05         -3.888889          -1.111111          1.111111"""

#SELECTING COLUMNS

##using conditionals to select columns

In [0]:
cps_temp = chunk[(chunk.TULINENO == 1) & (chunk.HRYEAR4 >= 2008)]

## SKYE_PANDAS_SUBSETTING_SORTING

In [0]:
#Sort on ...	Syntax
#one column	
df.sort_values("breed")
#multiple columns	
df.sort_values(["breed", "weight_kg"])
# Sort homelessness by descending family members
homelessness_fam = homelessness.sort_values('family_members', ascending=False)
# Sort homelessness by region, then descending family members
homelessness_reg_fam = homelessness.sort_values(["region", "family_members"], ascending=[True, False])

#SUBSETTING COLUMNS

#To select only "col_a" of the DataFrame df, use
df["col_a"]
#To select "col_a" and "col_b" of df, use
df[["col_a", "col_b"]]

#SUBSETTING ROWS
#There are many ways to subset a DataFrame, perhaps the most common is to use relational operators to return True or False for each row, then pass that inside square brackets.

dogs[dogs["height_cm"] > 60]
dogs[dogs["color"] == "tan"]

#You can filter for multiple conditions at once by using the "logical and" operator, &.
dogs[(dogs["height_cm"] > 60) & (dogs["col_b"] == "tan")]

#Subsetting rows by categorical variables
#Subsetting data based on a categorical variable often involves using the "or" operator (|) to select rows from multiple categories. 
#This can get tedious when you want all states in one of three different regions, for example. 
#Instead, use the .isin() method, which will allow you to tackle this problem by writing one condition instead of three separate ones.

colors = ["brown", "black", "tan"]
condition = dogs["color"].isin(colors)
dogs[condition]

# The Mojave Desert states
canu = ["California", "Arizona", "Nevada", "Utah"]

# Filter for rows in the Mojave Desert states

mojave_homelessness = homelessness[homelessness['state'].isin(canu)]

# See the result
print(mojave_homelessness)

#MISC

##SKYE_PANDAS_list comprehentions

In [0]:
ones = [i for i in test_col if i == 0]
assert len(ones) == 9037, "missing values"

## SKYE_PANDAS_take the first two characters of a list

In [0]:
num = [z[:2] for z in dict2]
text = [z[3:] for z in dict2]

##SKYE_Pandas_replace values in pandas

In [0]:
all_demo_income.education.replace(to_replace=[31,32,33,34,35,36,37], value=38, inplace=True)

#EDA

##SKYE_PANDAS_DESCRIPTIONS

In [0]:
#.head() returns the first few rows (the “head” of the DataFrame).
df.head(5)
#.info() shows information on each of the columns, such as the data type and number of missing values.
df.info()
#.shape returns the number of rows and columns of the DataFrame.
df.shape
#.describe() calculates a few summary statistics for each column.
df.describe()
#.values: A two-dimensional NumPy array of values.
df.values
#.columns: An index of columns: the column names.
df.columns
#.index: An index for the rows: either row numbers or row names.
df.index

##SKYE_PANDAS_SUMMARY_STATISTICS

In [0]:
#SUMMARY ON COLUMNS
# Print the mean of weekly_sales
print(sales['weekly_sales'].mean())

# Print the median of weekly_sales
print(sales['weekly_sales'].median())

# Print the maximum of the date column
print(sales["date"].max())

# Print the minimum of the date column
print(sales["date"].min())

# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)
    
# Print IQR of the temperature_c column
print(sales['temperature_c'].agg(iqr))

# Update to print IQR and median of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr,np.median]))

#OUTPUT
"""            temperature_c  fuel_price_usd_per_l  unemployment
    iqr            16.583                 0.073         0.565
    median         16.967                 0.743         8.099"""

In [0]:
#CUMMULATIVE STATISTICS
# Sort sales_1_1 by date
sales_1_1 = sales_1_1.sort_values('date')

# Get the cumulative sum of weekly_sales, add as v col
sales_1_1['cum_weekly_sales'] = sales_1_1['weekly_sales'].cumsum()

# Get the cumulative max of weekly_sales, add as cum_max_sales col
sales_1_1['cum_max_sales'] = sales_1_1['weekly_sales'].cummax()


# See the columns you calculated
print(sales_1_1[["date", "weekly_sales", "cum_weekly_sales", "cum_max_sales"]])

##SKYE_PANDAS_COUNTING

In [0]:
#PREPARING THE DATA FOR COUNTING - need to remove duplicates to avoid doubles
# Drop duplicate store/type combinations
store_types = sales.drop_duplicates(['store', 'type'])
print(store_types.head())

# Drop duplicate store/department combinations
store_depts = sales.drop_duplicates(['store', 'department'])
print(store_depts.head())

# Subset the rows that are holiday weeks and drop duplicate dates
holiday_dates = sales[sales['is_holiday'].isin([True])].drop_duplicates('date')

# Print date col of holiday_dates
print(holiday_dates['date'])

In [0]:
#COUNTING VALUES
# Count the number of stores of each type
store_counts = stores["store_type"].value_counts()
print(store_counts)

# Get the proportion of stores of each type
store_props = stores["store_type"].value_counts(normalize=True)
print(store_props)

# Count the number of each department number and sort
dept_counts_sorted = departments["department_num"].value_counts(sort=True)
print(dept_counts_sorted)

# Get the proportion of departments of each number and sort
dept_props_sorted = departments["department_num"].value_counts(sort=True, normalize=True)
print(dept_props_sorted)

#MAKING NEW COLUMNS - FEATURE ENGINEERING

## SKYE_PANDAS_CREATING NEW COLUMNS (FEATURE ENGINEERING)

In [0]:
# Add total col as sum of individuals and family_members
homelessness["total"] = homelessness["individuals"] + homelessness["family_members"]

# Add p_individuals col as proportion of individuals
homelessness['p_individuals'] = homelessness['individuals']/homelessness['total']

# See the result
print(homelessness)

In [0]:
# "Which state has the highest number of homeless individuals per 10,000 people in the state?"

# Create indiv_per_10k col as homeless individuals per 10k state pop
homelessness["indiv_per_10k"] = 10000 * homelessness['individuals'] / homelessness['state_pop'] 

# Subset rows for indiv_per_10k greater than 20
high_homelessness = homelessness[homelessness['indiv_per_10k'] > 20]

# Sort high_homelessness by descending indiv_per_10k
high_homelessness_srt = high_homelessness.sort_values('indiv_per_10k', ascending=False)

# From high_homelessness_srt, select the state and indiv_per_10k cols
result = high_homelessness_srt[['state', 'indiv_per_10k']]

# See the result
print(result)

#GROUPBY

##SKYE_PANDAS_GROUPED_SUMMARY_STATS

In [0]:
# Group by type; calc total weekly sales
sales_by_type = sales.groupby("type")["weekly_sales"].sum()

# Get proportion for each type
sales_propn_by_type = sales.groupby("type")["weekly_sales"].sum()/sales_by_type.sum()
print(sales_propn_by_type)

In [0]:
#CALULATIONS WITH GROUPBY
# From previous step
sales_by_type = sales.groupby("type")["weekly_sales"].sum()

# Group by type and is_holiday; calc total weekly sales
sales_by_type_is_holiday = sales.groupby(["type","is_holiday"])["weekly_sales"].sum()
print(sales_by_type_is_holiday)

#OUTPUT
"""type  is_holiday     SUM
    A     False         2.337e+08
          True          2.360e+04
    B     False         2.318e+07
          True          1.621e+03"""

In [0]:
#multiple grouped summaries
"""Earlier in this chapter you saw that the .agg() method is useful to compute multiple statistics on multiple variables. 
It also works with grouped data. NumPy, which is imported as np, has many different summary statistics functions, including:

np.min()
np.max()
np.mean()
np.median()"""
# Import NumPy with the alias np
import numpy as np

# For each store type, aggregate weekly_sales: get min, max, mean, and median
sales_stats = sales.groupby("type")["weekly_sales"].agg([min,max,np.mean,np.median])

# Print sales_stats
print(sales_stats)

"""     min        max       mean    median
type                                        
A    -1098.0  293966.05  23674.667  11943.92
B     -798.0  232558.51  25696.678  13336.08"""

# For each store type, aggregate unemployment and fuel_price_usd_per_l: get min, max, mean, and median
unemp_fuel_stats = sales.groupby("type")[["unemployment", "fuel_price_usd_per_l"]].agg([min,max,np.mean,np.median])

# Print unemp_fuel_stats
print(unemp_fuel_stats)
"""
     unemployment                      fuel_price_usd_per_l                     
              min    max   mean median                  min    max   mean median
type                                                                            
A           3.879  8.992  7.973  8.067                0.664  1.107  0.745  0.735
B           7.170  9.765  9.279  9.199                0.760  1.108  0.806  0.803"""

## SKYE MATPLOTLIB PLOTTING USING GROUPS
Bonus - how to show a google image

In [0]:
# Import matplotlib.pyplot with alias plt
import matplotlib.pyplot as plt

# Look at the first few rows of data
print(avocados.head())

# Get the total number of avocados sold of each size
nb_sold_by_size = avocados.groupby("size")["nb_sold"].sum()
print(nb_sold_by_size)
"""
    size
    extra_large    1.562e+08
    large          2.015e+09
    small          2.055e+09
    Name: nb_sold, dtype: float64"""
# Create a bar plot of the number of avocados sold by size
nb_sold_by_size.plot(kind="bar")

# Show the plot
plt.show()

![avacado](https://drive.google.com/uc?id=1PVx47lqDzlpwULnKhl-USudRucYAP_KA)

In [0]:
# Import matplotlib.pyplot with alias plt
import matplotlib.pyplot as plt

# Get the total number of avocados sold on each date
nb_sold_by_date = avocados.groupby("date")["nb_sold"].sum()
print(nb_sold_by_date)
"""
    date
    2015-01-04    2.728e+07
    2015-01-11    2.508e+07
    2015-01-18    2.496e+07
    2015-01-25    2.409e+07
    2015-02-01    3.984e+07
                    ...    
    2018-02-25    2.543e+07
    2018-03-04    2.683e+07
    2018-03-11    2.609e+07
    2018-03-18    2.603e+07
    2018-03-25    2.748e+07
    Name: nb_sold, Length: 169, dtype: float64"""
# Create a line plot of the number of avocados sold by date
nb_sold_by_date.plot(kind="line")


# Show the plot
plt.show()

![sales over time](https://drive.google.com/uc?id=1EEXGDxQ4xl-vV38I2jSsMhYIPC-29APe)

In [0]:
# Scatter plot of nb_sold vs avg_price with title
avocados.plot(x="nb_sold", y="avg_price", kind="scatter", title="Number of avocados sold vs. average price")

# Show the plot
plt.show()

![scatter](https://drive.google.com/uc?id=1h6rZAXwdwuxQxh2OAuTIneRa11IVkA4D)

In [0]:
# Modify bins to 20
avocados[avocados["type"] == "conventional"]["avg_price"].hist(alpha=0.5, bins=20)

# Modify bins to 20
avocados[avocados["type"] == "organic"]["avg_price"].hist(alpha=0.5, bins=20)

# Add a legend
plt.legend(["conventional", "organic"])

# Show the plot
plt.show()

![sidebyside](https://drive.google.com/uc?id=14UBWbVzZpREz3-gLBYIx_TzacoD2p_95)

#PIVOT TABLES

##SKYE PANDAS PIVOT TABLES

In [0]:
# Pivot for mean weekly_sales for each store type
mean_sales_by_type = sales.pivot_table(values="weekly_sales", index="type")

# Print mean_sales_by_type
print(mean_sales_by_type)

"""
      weekly_sales
type              
A        23674.667
B        25696.678"""

In [0]:
# Import NumPy as np
import numpy as np

# Pivot for mean and median weekly_sales for each store type
mean_med_sales_by_type = sales.pivot_table(values="weekly_sales", index="type", aggfunc=[np.mean,np.median])

# Print mean_med_sales_by_type
print(mean_med_sales_by_type)
"""
             mean       median
     weekly_sales weekly_sales
type                          
A       23674.667     11943.92
B       25696.678     13336.08
"""

In [0]:
# Pivot for mean weekly_sales by store type and holiday 
mean_sales_by_type_holiday = sales.pivot_table(values="weekly_sales", index="type", columns="is_holiday") #by default it will give you the mean

# Print mean_sales_by_type_holiday
print(mean_sales_by_type_holiday)
"""
is_holiday      False    True 
type                          
A           23768.584  590.045
B           25751.981  810.705"""

In [0]:
# Print mean weekly_sales by department and type; fill missing values with 0
print(sales.pivot_table(values="weekly_sales", index="department", columns="type", fill_value=0))
"""
type                 A           B
department                        
1            30961.725   44050.627
2            67600.159  112958.527
3            17160.003   30580.655
4            44285.399   51219.654
5            34821.011   63236.875
...                ...         ...
95          123933.787   77082.103
96           21367.043    9528.538
97           28471.267    5828.873
98           12875.423     217.428
99             379.124       0.000

[80 rows x 2 columns]"""

In [0]:
# Print the mean weekly_sales by department and type; fill missing values with 0s; sum all rows and cols
print(sales.pivot_table(values="weekly_sales", index="department", columns="type", fill_value=0, margins=True)) #margins will give the mean of the columns, which are means of all rows that match the criteria

"""
  type                A           B        All
    department                                  
    1           30961.725   44050.627  32052.467
    2           67600.159  112958.527  71380.023
    3           17160.003   30580.655  18278.391
    4           44285.399   51219.654  44863.254
    5           34821.011   63236.875  37189.000
    ...               ...         ...        ...
    96          21367.043    9528.538  20337.608
    97          28471.267    5828.873  26584.401
    98          12875.423     217.428  11820.590
    99            379.124       0.000    379.124
    All         23674.667   25696.678  23843.950
    
    [81 rows x 3 columns]
"""

In [0]:
# Print the mean weekly_sales by department and type; fill missing values with 0s; sum all rows and cols
print(sales.pivot_table(values="weekly_sales", index="department", columns="type", aggfunc=sum, fill_value=0, margins=True))#this will give you the sum of all rows and the sum of the columns
"""
type                A          B        All
department                                 
1           4.087e+06  5.286e+05  4.616e+06
2           8.923e+06  1.356e+06  1.028e+07
3           2.265e+06  3.670e+05  2.632e+06
4           5.846e+06  6.146e+05  6.460e+06
5           4.596e+06  7.588e+05  5.355e+06
...               ...        ...        ...
96          2.692e+06  1.143e+05  2.807e+06
97          3.758e+06  6.995e+04  3.828e+06
98          1.700e+06  2.609e+03  1.702e+06
99          4.663e+04  0.000e+00  4.663e+04
All         2.337e+08  2.318e+07  2.569e+08

[81 rows x 3 columns]"""

##SKYE PANDAS PIVOT TABLES_DATA MANIPULATION

In [0]:
# Add a year column to temperatures
temperatures["year"] = temperatures["date"].dt.year
# Pivot avg_temp_c by country and city vs year
temp_by_country_city_vs_year = temperatures.pivot_table(values="avg_temp_c", index=["country","city"], columns="year")

# See the result
print(temp_by_country_city_vs_year)
"""
<script.py> output:
    year                              2000    2001    2002    2003    2004  ...    2009    2010    2011    2012    2013
    country       city                                                      ...                                        
    Afghanistan   Kabul             15.823  15.848  15.715  15.133  16.128  ...  15.093  15.676  15.812  14.510  16.206
    Angola        Luanda            24.410  24.427  24.791  24.867  24.216  ...  24.325  24.440  24.151  24.240  24.554
    Australia     Melbourne         14.320  14.180  14.076  13.986  13.742  ...  14.647  14.232  14.191  14.269  14.742
                  Sydney            17.567  17.855  17.734  17.592  17.870  ...  18.176  17.999  17.713  17.474  18.090
    Bangladesh    Dhaka             25.905  25.931  26.095  25.927  26.136  ...  26.536  26.648  25.803  26.284  26.587
    ...                                ...     ...     ...     ...     ...  ...     ...     ...     ...     ...     ...
    United States Chicago           11.090  11.703  11.532  10.482  10.943  ...  10.298  11.816  11.214  12.821  11.587
                  Los Angeles       16.643  16.466  16.430  16.945  16.553  ...  16.677  15.887  15.875  17.090  18.121
                  New York           9.969  10.931  11.252   9.836  10.389  ...  10.142  11.358  11.272  11.972  12.164
    Vietnam       Ho Chi Minh City  27.589  27.832  28.065  27.828  27.687  ...  27.853  28.282  27.675  28.249  28.455
    Zimbabwe      Harare            20.284  20.861  21.079  20.889  20.308  ...  20.524  21.166  20.782  20.523  19.756
    
    [100 rows x 14 columns]"""

In [0]:
# Subset for Egypt to India
temp_by_country_city_vs_year.loc["Egypt":"India"]
"""
year                    2000    2001    2002    2003    2004  ...    2009    2010    2011    2012    2013
country  city                                                 ...                                        
Egypt    Alexandria   20.744  21.455  21.456  21.221  21.064  ...  21.671  22.460  21.181  21.553  21.439
         Cairo        21.486  22.331  22.414  22.171  22.082  ...  22.625  23.718  21.987  22.484  22.907
         Gizeh        21.486  22.331  22.414  22.171  22.082  ...  22.625  23.718  21.987  22.484  22.907
Ethiopia Addis Abeba  18.241  18.296  18.470  18.321  18.293  ...  18.765  18.298  18.607  18.449  19.539
France   Paris        11.740  11.371  11.871  11.909  11.339  ...  11.464  10.410  12.326  11.220  11.012
Germany  Berlin       10.964   9.690  10.264  10.066   9.823  ...  10.062   8.607  10.556   9.964  10.122
India    Ahmadabad    27.436  27.198  27.719  27.404  27.628  ...  28.096  28.018  27.290  27.027  27.609
         Bangalore    25.338  25.528  25.755  25.925  25.252  ...  25.726  25.705  25.362  26.042  26.611
         Bombay       27.204  27.244  27.629  27.578  27.319  ...  27.845  27.765  27.385  27.193  26.713
         Calcutta     26.491  26.515  26.704  26.561  26.634  ...  27.153  27.289  26.407  26.935  27.369
         Delhi        26.048  25.863  26.634  25.721  26.240  ...  26.554  26.520  25.629  25.889  26.709
         Hyderabad    27.232  27.555  27.665  27.845  27.229  ...  28.027  27.693  27.409  28.019  28.851
         Jaipur       26.430  26.023  27.032  26.027  26.642  ...  26.919  26.818  25.916  25.885  26.844
         Kanpur       25.354  25.326  26.117  25.409  25.587  ...  25.987  26.022  25.062  25.445  26.121
         Lakhnau      25.354  25.326  26.117  25.409  25.587  ...  25.987  26.022  25.062  25.445  26.121
         Madras       28.812  29.163  29.246  29.273  28.811  ...  29.417  29.047  29.063  29.778  30.412
         Nagpur       26.181  26.322  26.753  26.504  26.406  ...  27.139  26.927  26.005  26.328  27.112
         New Delhi    26.048  25.863  26.634  25.721  26.240  ...  26.554  26.520  25.629  25.889  26.709
         Pune         25.111  25.338  25.583  25.748  25.316  ...  25.868  25.749  25.161  25.297  25.848
         Surat        27.029  26.897  27.348  27.231  27.291  ...  27.820  27.682  27.017  26.889  27.438

[20 rows x 14 columns]"""

# Subset for Egypt, Cairo to India, Delhi
temp_by_country_city_vs_year.loc[("Egypt","Cairo"):("India", "Delhi")]
"""
year                    2000    2001    2002    2003    2004  ...    2009    2010    2011    2012    2013
country  city                                                 ...                                        
Egypt    Cairo        21.486  22.331  22.414  22.171  22.082  ...  22.625  23.718  21.987  22.484  22.907
         Gizeh        21.486  22.331  22.414  22.171  22.082  ...  22.625  23.718  21.987  22.484  22.907
Ethiopia Addis Abeba  18.241  18.296  18.470  18.321  18.293  ...  18.765  18.298  18.607  18.449  19.539
France   Paris        11.740  11.371  11.871  11.909  11.339  ...  11.464  10.410  12.326  11.220  11.012
Germany  Berlin       10.964   9.690  10.264  10.066   9.823  ...  10.062   8.607  10.556   9.964  10.122
India    Ahmadabad    27.436  27.198  27.719  27.404  27.628  ...  28.096  28.018  27.290  27.027  27.609
         Bangalore    25.338  25.528  25.755  25.925  25.252  ...  25.726  25.705  25.362  26.042  26.611
         Bombay       27.204  27.244  27.629  27.578  27.319  ...  27.845  27.765  27.385  27.193  26.713
         Calcutta     26.491  26.515  26.704  26.561  26.634  ...  27.153  27.289  26.407  26.935  27.369
         Delhi        26.048  25.863  26.634  25.721  26.240  ...  26.554  26.520  25.629  25.889  26.709

[10 rows x 14 columns]
"""
# Subset in both directions at once
temp_by_country_city_vs_year.loc[("Egypt","Cairo"):("India", "Delhi"), "2005":"2010"]
"""
year                    2005    2006    2007    2008    2009    2010
country  city                                                       
Egypt    Cairo        22.006  22.050  22.361  22.644  22.625  23.718
         Gizeh        22.006  22.050  22.361  22.644  22.625  23.718
Ethiopia Addis Abeba  18.313  18.427  18.143  18.165  18.765  18.298
France   Paris        11.553  11.788  11.751  11.278  11.464  10.410
Germany  Berlin        9.919  10.545  10.883  10.658  10.062   8.607
India    Ahmadabad    26.828  27.283  27.511  27.049  28.096  28.018
         Bangalore    25.476  25.418  25.464  25.353  25.726  25.705
         Bombay       27.036  27.381  27.635  27.178  27.845  27.765
         Calcutta     26.729  26.986  26.585  26.522  27.153  27.289
         Delhi        25.716  26.366  26.146  25.675  26.554  26.520"""

In [0]:
# Get the worldwide mean temp by year
mean_temp_by_year = temp_by_country_city_vs_year.mean()
"""
year
2000    19.506
2001    19.679
2002    19.856
2003    19.630
2004    19.672
2005    19.607
2006    19.794
2007    19.854
2008    19.609
2009    19.834
2010    19.912
2011    19.549
2012    19.668
2013    20.312
dtype: float64
"""
# Filter for the year that had the highest mean temp
print(mean_temp_by_year[mean_temp_by_year == mean_temp_by_year.max()])
"""
year
2013    20.312
dtype: float64"""

# Get the mean temp by city
mean_temp_by_city = temp_by_country_city_vs_year.mean(axis="columns")
print(mean_temp_by_city)
"""
country        city            
Afghanistan    Kabul               15.542
Angola         Luanda              24.392
Australia      Melbourne           14.275
               Sydney              17.799
Bangladesh     Dhaka               26.174
                                    ...  
United States  Chicago             11.331
               Los Angeles         16.675
               New York            10.911
Vietnam        Ho Chi Minh City    27.923
Zimbabwe       Harare              20.699
Length: 100, dtype: float64
"""
# Filter for the city that had the lowest mean temp
print(mean_temp_by_city[mean_temp_by_city == mean_temp_by_city.min()])
"""
country  city  
China    Harbin    4.877
dtype: float64
"""

#WORKING WITH INDEXES

## SKYE PANDAS EXPLICIT INDICIES

In [0]:
#Setting a column as an index
# Look at temperatures
print(temperatures)
"""
               date        country  avg_temp_c
    city                                         
    Abidjan 2000-01-01  Côte D'Ivoire      27.293
    Abidjan 2000-02-01  Côte D'Ivoire      27.685
    Abidjan 2000-03-01  Côte D'Ivoire      29.061
    Abidjan 2000-04-01  Côte D'Ivoire      28.162
    Abidjan 2000-05-01  Côte D'Ivoire      27.547
    ...            ...            ...         ...
    Xian    2013-05-01          China      18.979
    Xian    2013-06-01          China      23.522
    Xian    2013-07-01          China      25.251
    Xian    2013-08-01          China      24.528
    Xian    2013-09-01          China         NaN
    
    [16500 rows x 3 columns]
# Index temperatures by city"""
temperatures_ind = temperatures.set_index("city")

# Look at temperatures_ind
print(temperatures_ind)
"""
               date        country  avg_temp_c
    city                                         
    Abidjan 2000-01-01  Côte D'Ivoire      27.293
    Abidjan 2000-02-01  Côte D'Ivoire      27.685
    Abidjan 2000-03-01  Côte D'Ivoire      29.061
    Abidjan 2000-04-01  Côte D'Ivoire      28.162
    Abidjan 2000-05-01  Côte D'Ivoire      27.547
    ...            ...            ...         ...
    Xian    2013-05-01          China      18.979
    Xian    2013-06-01          China      23.522
    Xian    2013-07-01          China      25.251
    Xian    2013-08-01          China      24.528
    Xian    2013-09-01          China         NaN
    
    [16500 rows x 3 columns]"""

# Reset the index, keeping its contents
print(temperatures_ind.reset_index())

# Reset the index, dropping its contents
print(temperatures_ind.reset_index(drop=True))

In [0]:
#using loc
# Make a list of cities to subset on
cities = ["Moscow", "Saint Petersburg"]

# Subset temperatures using square brackets
print(temperatures[temperatures["city"].isin(cities)])

"""            date              city country  avg_temp_c
10725 2000-01-01            Moscow  Russia      -7.313
10726 2000-02-01            Moscow  Russia      -3.551
10727 2000-03-01            Moscow  Russia      -1.661
10728 2000-04-01            Moscow  Russia      10.096
10729 2000-05-01            Moscow  Russia      10.357
...          ...               ...     ...         ...
13360 2013-05-01  Saint Petersburg  Russia      12.355
13361 2013-06-01  Saint Petersburg  Russia      17.185
13362 2013-07-01  Saint Petersburg  Russia      17.234
13363 2013-08-01  Saint Petersburg  Russia      17.153
13364 2013-09-01  Saint Petersburg  Russia         NaN

[330 rows x 4 columns]"""

# Subset temperatures_ind using .loc[]
print(temperatures_ind.loc[cities])
""""
city                                           
Moscow           2000-01-01  Russia      -7.313
Moscow           2000-02-01  Russia      -3.551
Moscow           2000-03-01  Russia      -1.661
Moscow           2000-04-01  Russia      10.096
Moscow           2000-05-01  Russia      10.357
...                     ...     ...         ...
Saint Petersburg 2013-05-01  Russia      12.355
Saint Petersburg 2013-06-01  Russia      17.185
Saint Petersburg 2013-07-01  Russia      17.234
Saint Petersburg 2013-08-01  Russia      17.153
Saint Petersburg 2013-09-01  Russia         NaN

[330 rows x 3 columns]""""

In [0]:
# Index temperatures by country & city
temperatures_ind = temperatures.set_index(["country", "city"])

# List of tuples: Brazil, Rio De Janeiro & Pakistan, Lahore
rows_to_keep = [("Brazil","Rio De Janeiro"), ("Pakistan", "Lahore")]

# Subset for rows to keep
print(temperatures_ind.loc[rows_to_keep])
"""
                              date  avg_temp_c
country  city                                 
Brazil   Rio De Janeiro 2000-01-01      25.974
         Rio De Janeiro 2000-02-01      26.699
         Rio De Janeiro 2000-03-01      26.270
         Rio De Janeiro 2000-04-01      25.750
         Rio De Janeiro 2000-05-01      24.356
...                            ...         ...
Pakistan Lahore         2013-05-01      33.457
         Lahore         2013-06-01      34.456
         Lahore         2013-07-01      33.279
         Lahore         2013-08-01      31.511
         Lahore         2013-09-01         NaN

[330 rows x 2 columns]
"""

In [0]:
# Sort temperatures_ind by index values
print(temperatures_ind.sort_index())
"""
<script.py> output:
                             date  avg_temp_c
    country     city                         
    Afghanistan Kabul  2000-01-01       3.326
                Kabul  2000-02-01       3.454
                Kabul  2000-03-01       9.612
                Kabul  2000-04-01      17.925
                Kabul  2000-05-01      24.658
    ...                       ...         ...
    Zimbabwe    Harare 2013-05-01      18.298
                Harare 2013-06-01      17.020
                Harare 2013-07-01      16.299
                Harare 2013-08-01      19.232
                Harare 2013-09-01         NaN
    
    [16500 rows x 2 columns]
"""
# Sort temperatures_ind by index values at the city level
print(temperatures_ind.sort_index(level=["city"]))
"""
                            date  avg_temp_c
    country       city                          
    Côte D'Ivoire Abidjan 2000-01-01      27.293
                  Abidjan 2000-02-01      27.685
                  Abidjan 2000-03-01      29.061
                  Abidjan 2000-04-01      28.162
                  Abidjan 2000-05-01      27.547
    ...                          ...         ...
    China         Xian    2013-05-01      18.979
                  Xian    2013-06-01      23.522
                  Xian    2013-07-01      25.251
                  Xian    2013-08-01      24.528
                  Xian    2013-09-01         NaN
    
    [16500 rows x 2 columns]"""

# Sort temperatures_ind by country then descending city
print(temperatures_ind.sort_index(level=["country", "city"], ascending=[True,False]))
"""
                         date  avg_temp_c
    country     city                         
    Afghanistan Kabul  2000-01-01       3.326
                Kabul  2000-02-01       3.454
                Kabul  2000-03-01       9.612
                Kabul  2000-04-01      17.925
                Kabul  2000-05-01      24.658
    ...                       ...         ...
    Zimbabwe    Harare 2013-05-01      18.298
                Harare 2013-06-01      17.020
                Harare 2013-07-01      16.299
                Harare 2013-08-01      19.232
                Harare 2013-09-01         NaN
    
    [16500 rows x 2 columns]"""

## SKYE PANDAS SLICING WITH INDEXES

In [0]:
# Sort the index of temperatures_ind
temperatures_srt = temperatures_ind.sort_index()

# Subset rows from Pakistan to Russia
print(temperatures_srt.loc["Pakistan":"Russia"])
"""
                                  date  avg_temp_c
    country  city                                   
    Pakistan Faisalabad       2000-01-01      12.792
             Faisalabad       2000-02-01      14.339
             Faisalabad       2000-03-01      20.309
             Faisalabad       2000-04-01      29.072
             Faisalabad       2000-05-01      34.845
    ...                              ...         ...
    Russia   Saint Petersburg 2013-05-01      12.355
             Saint Petersburg 2013-06-01      17.185
             Saint Petersburg 2013-07-01      17.234
             Saint Petersburg 2013-08-01      17.153
             Saint Petersburg 2013-09-01         NaN
    
    [1155 rows x 2 columns]"""

# Subset rows from Pakistan, Lahore to Russia, Moscow
print(temperatures_srt.loc[("Pakistan","Lahore"):("Russia", "Moscow")])
"""
                                  date  avg_temp_c
    country  city                                   
    Pakistan Faisalabad       2000-01-01      12.792
             Faisalabad       2000-02-01      14.339
             Faisalabad       2000-03-01      20.309
             Faisalabad       2000-04-01      29.072
             Faisalabad       2000-05-01      34.845
    ...                              ...         ...
    Russia   Saint Petersburg 2013-05-01      12.355
             Saint Petersburg 2013-06-01      17.185
             Saint Petersburg 2013-07-01      17.234
             Saint Petersburg 2013-08-01      17.153
             Saint Petersburg 2013-09-01         NaN
    
    [1155 rows x 2 columns]"""

In [0]:
# Subset rows from India, Hyderabad to Iraq, Baghdad
print(temperatures_srt.loc[("India","Hyderabad"):("Iraq", "Baghdad")])

"""                          date  avg_temp_c
    country city                            
    India   Hyderabad 2000-01-01      23.779
            Hyderabad 2000-02-01      25.826
            Hyderabad 2000-03-01      28.821
            Hyderabad 2000-04-01      32.698
            Hyderabad 2000-05-01      32.438
    ...                      ...         ...
    Iraq    Baghdad   2013-05-01      28.673
            Baghdad   2013-06-01      33.803
            Baghdad   2013-07-01      36.392
            Baghdad   2013-08-01      35.463
            Baghdad   2013-09-01         NaN
    
    [2145 rows x 2 columns]"""
# Subset columns from date to avg_temp_c
print(temperatures_srt.loc[:,"date":"avg_temp_c"])

"""
                            date  avg_temp_c
    country     city                         
    Afghanistan Kabul  2000-01-01       3.326
                Kabul  2000-02-01       3.454
                Kabul  2000-03-01       9.612
                Kabul  2000-04-01      17.925
                Kabul  2000-05-01      24.658
    ...                       ...         ...
    Zimbabwe    Harare 2013-05-01      18.298
                Harare 2013-06-01      17.020
                Harare 2013-07-01      16.299
                Harare 2013-08-01      19.232
                Harare 2013-09-01         NaN
    
    [16500 rows x 2 columns]"""

# Subset in both directions at once
print(temperatures_srt.loc[("India","Hyderabad"):("Iraq", "Baghdad"),"date":"avg_temp_c"])
"""
                          date  avg_temp_c
    country city                            
    India   Hyderabad 2000-01-01      23.779
            Hyderabad 2000-02-01      25.826
            Hyderabad 2000-03-01      28.821
            Hyderabad 2000-04-01      32.698
            Hyderabad 2000-05-01      32.438
    ...                      ...         ...
    Iraq    Baghdad   2013-05-01      28.673
            Baghdad   2013-06-01      33.803
            Baghdad   2013-07-01      36.392
            Baghdad   2013-08-01      35.463
            Baghdad   2013-09-01         NaN
    
    [2145 rows x 2 columns]"""

#Missing Data
##pandas and matplot

## .ISNA() / .ISNA().ANY()

In [0]:
# Import matplotlib.pyplot with alias plt
import matplotlib.pyplot as plt

# Check individual values for missing values
print(avocados_2016.isna())
"""
        date  avg_price  total_sold  small_sold  large_sold  xl_sold  total_bags_sold  small_bags_sold  large_bags_sold  xl_bags_sold
    0   False      False       False       False       False    False            False            False            False         False
    1   False      False       False       False       False    False            False            False            False         False
    2   False      False       False       False        True    False            False            False            False         False
    3   False      False       False       False       False    False            False            False            False         False
    4   False      False       False       False       False     True            False            False            False         False
    5   False      False       False        True       False    False            False            False            False         False
    6   False      False       False       False       False    False            False            False            False         False
    7   False      False       False       False        True    False            False            False            False         False
    8   False      False       False       False       False    False            False            False            False         False
    9   False      False       False       False       False    False            False            False            False         False
    10  False      False       False       False        True    False            False            False            False         False
    11  False      False       False       False       False    False            False            False            False         False
    12  False      False       False       False       False    False            False            False            False         False
    13  False      False       False       False       False    False            False            False            False         False
    14  False      False       False       False       False    False            False            False            False         False

"""
# Check each column for missing values
print(avocados_2016.isna().any())
"""
  date               False
    avg_price          False
    total_sold         False
    small_sold          True
    large_sold          True
    xl_sold             True
    total_bags_sold    False
    small_bags_sold    False
    large_bags_sold    False
    xl_bags_sold       False
    dtype: bool
"""

# Bar plot of missing values by variable
avocados_2016.isna().sum().plot(kind="bar")

# Show plot
plt.show()

![alt text](https://drive.google.com/uc?id=1zmy5LsZR9xuyjcjZsZnH4L2R5l0aXtHM)

##DROPNA()

In [0]:
# Remove rows with missing values
avocados_complete = avocados_2016.dropna()

# Check if any columns contain missing values
print(avocados_complete.isna().any())
"""
    date               False
    avg_price          False
    total_sold         False
    small_sold         False
    large_sold         False
    xl_sold            False
    total_bags_sold    False
    small_bags_sold    False
    large_bags_sold    False
    xl_bags_sold       False
    dtype: bool"""

In [0]:
# From previous step
cols_with_missing = ["small_sold", "large_sold", "xl_sold"]
avocados_2016[cols_with_missing].hist()
plt.show()

![alt text](https://drive.google.com/uc?id=1bT7gw0XrzL6U7yGz1Y7_fX84Jmlkg5RB)

#FILLNA()

In [0]:
# Fill in missing values with 0
avocados_filled = avocados_2016.fillna(0)

# Create histograms of the filled columns
avocados_filled[cols_with_missing].hist()

# Show the plot
plt.show()

![alt text](https://drive.google.com/uc?id=11m6WBoCsAqmZQWhyQKrgw4zUEsl25_fW)

#ADDING/REMOVING COLUMNS

##add columns from one df to another df

In [0]:
# Add columns 'Silver' & 'Bronze' to medals
medals['Silver'] = silver["Total"]
medals['Bronze'] = bronze["Total"]

##Add a new column and fill with a value

In [0]:
# Add 'year' column to names_1881 and names_1981
names_1881['year'] = 1881
names_1981['year'] = 1981
"""
             name gender  count  year
    1283   Morgan      M     23  1881
    2096   Morgan      F   1769  1981
    14390  Morgan      M    766  1981"""

##SKYE_PANDAS_DROP_COLUMNS

In [0]:
summ_final.drop(['GEMETSTA'], axis=1)

#Reindexing

##Reindex using a list and the .ffill() method
.ffill() will fill the list with the preceding information

In [0]:
# Import pandas
import pandas as pd
print(year)
"""
    ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']"""
print(weather1)
"""
        Mean TemperatureF
    Month                   
    Apr            61.956044
    Jan            32.133333
    Jul            68.934783
    Oct            43.434783"""
# Reindex weather1 using the list year: weather2
weather2 = weather1.reindex(year)
"""
          Mean TemperatureF
    Month                   
    Jan            32.133333
    Feb                  NaN
    Mar                  NaN
    Apr            61.956044
    May                  NaN
    Jun                  NaN
    Jul            68.934783
    Aug                  NaN
    Sep                  NaN
    Oct            43.434783
    Nov                  NaN
    Dec                  NaN"""
# Print weather2
print(weather2)

# Reindex weather1 using the list year with forward-fill: weather3
weather3 = weather1.reindex(year).ffill()

# Print weather3
print(weather3)
"""
 Mean TemperatureF
    Month                   
    Jan            32.133333
    Feb            32.133333
    Mar            32.133333
    Apr            61.956044
    May            61.956044
    Jun            61.956044
    Jul            68.934783
    Aug            68.934783
    Sep            68.934783
    Oct            43.434783
    Nov            43.434783
    Dec            43.434783
"""

##Reindexing with another df

In [0]:
# Import pandas
import pandas as pd
#Both have multi-index generated with the following:
#names_1981 = pd.read_csv('names1981.csv', header=None, names=['name','gender','count'], index_col=(0,1))
#names_1881 = pd.read_csv('names1881.csv', header=None, names=['name','gender','count'], index_col=(0,1))
print(names_1981.head())
print(names_1881.head())
# Reindex names_1981 with index of names_1881: common_names
common_names = names_1981.reindex(names_1881.index)

# Print shape of common_names
print(common_names.shape)
"""(1935, 1)"""
print(common_names.head())
""""
    name      gender         
    Mary      F       11030.0
    Anna      F        5182.0
    Emma      F         532.0
    Elizabeth F       20168.0
    Margaret  F        2791.0""""
# Drop rows with null counts: common_names
common_names = common_names.dropna()

# Print shape of new common_names
print(common_names.shape)
"""(1587, 1)"""

#Importing

## import a df with multilevel index from csv

In [0]:
# Import pandas
import pandas as pd
#Both have multi-index generated with the following:
names_1981 = pd.read_csv('names1981.csv', header=None, names=['name','gender','count'], index_col=(0,1))
names_1881 = pd.read_csv('names1881.csv', header=None, names=['name','gender','count'], index_col=(0,1))
print(names_1981.head())
"""
                 count
    name     gender       
    Jennifer F       57032
    Jessica  F       42519
    Amanda   F       34370
    Sarah    F       28162
    Melissa  F       28003"""
print(names_1881.head())
"""
    name      gender       
    Mary      F        6919
    Anna      F        2698
    Emma      F        2034
    Elizabeth F        1852
    Margaret  F        1658"""

## Reading & Writing CSV
also some manipulation via grouping and feature engineering

In [0]:
# From previous steps
airline_bumping = pd.read_csv("airline_bumping.csv")
print(airline_bumping.head())
airline_totals = airline_bumping.groupby("airline")[["nb_bumped", "total_passengers"]].sum()
airline_totals["bumps_per_10k"] = airline_totals["nb_bumped"] / airline_totals["total_passengers"] * 10000

# Print airline_totals
print(airline_totals)
"""
                         nb_bumped  total_passengers  bumps_per_10k
    airline                                                        
    ALASKA AIRLINES           1392          36543121          0.381
    AMERICAN AIRLINES        11115         197365225          0.563
    DELTA AIR LINES           1591         197033215          0.081
    EXPRESSJET AIRLINES       3326          27858678          1.194
    FRONTIER AIRLINES         1228          22954995          0.535
    HAWAIIAN AIRLINES          122          16577572          0.074
    JETBLUE AIRWAYS           3615          53245866          0.679
    SKYWEST AIRLINES          3094          47091737          0.657
    SOUTHWEST AIRLINES       18585         228142036          0.815
    SPIRIT AIRLINES           2920          32304571          0.904
    UNITED AIRLINES           4941         134468897          0.367
    VIRGIN AMERICA             242          12017967          0.201"""

In [0]:
# Create airline_totals_sorted
airline_totals_sorted = airline_totals.sort_values("bumps_per_10k", ascending=False)

# Print airline_totals_sorted
print(airline_totals_sorted)
"""
                         nb_bumped  total_passengers  bumps_per_10k
    airline                                                        
    EXPRESSJET AIRLINES       3326          27858678          1.194
    SPIRIT AIRLINES           2920          32304571          0.904
    SOUTHWEST AIRLINES       18585         228142036          0.815
    JETBLUE AIRWAYS           3615          53245866          0.679
    SKYWEST AIRLINES          3094          47091737          0.657
    AMERICAN AIRLINES        11115         197365225          0.563
    FRONTIER AIRLINES         1228          22954995          0.535
    ALASKA AIRLINES           1392          36543121          0.381
    UNITED AIRLINES           4941         134468897          0.367
    VIRGIN AMERICA             242          12017967          0.201
    DELTA AIR LINES           1591         197033215          0.081
    HAWAIIAN AIRLINES          122          16577572          0.074"""

# Save as airline_totals_sorted.csv
airline_totals_sorted.to_csv("airline_totals_sorted.csv")

##Read CSV and Parse Date

In [0]:
monthly = pd.read_csv("datasets/monthly_deaths.csv", parse_dates=["date"])
"""
         date  births  deaths
0  1841-01-01     254      37
1  1841-02-01     239      18
2  1841-03-01     277      12
3  1841-04-01     255       4
4  1841-05-01     255       2
5  1841-06-01     200      10
6  1841-07-01     190      16"""

##Read multiple csv files using a loop

In [0]:
# Import pandas
import pandas as pd

# Create the list of file names: filenames
filenames = ['Gold.csv', 'Silver.csv', 'Bronze.csv']

# Create the list of three DataFrames: dataframes
dataframes = []
for filename in filenames:
    dataframes.append(pd.read_csv(filename))

# Print top 5 rows of 1st DataFrame in dataframes
print(dataframes[0].head())

##USING A FOR LOOP TO RENAME CSV FILES FOR IMPORTING AND CONCATING

In [0]:
#Initialize an empyy list: medals
medals =[]
medal_types = ["bronze", "silver", "gold"]

for medal in medal_types:
    # Create the file name: file_name
    file_name = "%s_top5.csv" % medal
    # Create list of column names: columns
    columns = ['Country', medal]
    # Read file_name into a DataFrame: medal_df
    medal_df = pd.read_csv(file_name, header=0, index_col='Country', names=columns)
    # Append medal_df to medals
    medals.append(medal_df)

# Concatenate medals horizontally: medals_df
medals_df = pd.concat(medals, axis='columns')

"""                    bronze  silver    gold
    France           475.0   461.0     NaN
    Germany          454.0     NaN   407.0
    Italy              NaN   394.0   460.0
    Soviet Union     584.0   627.0   838.0
    United Kingdom   505.0   591.0   498.0
    United States   1052.0  1195.0  2088.0"""

##USING_CHUNKS

In [0]:
#chunking the CPS file to get only unique ids and columns of interest
cps_cols_to_keep = ['TUCASEID', 'TULINENO', 'HUFAMINC', 'HEFAMINC', 'HRYEAR4']

#create the iterator
cps_iter = pd.read_csv('data/atuscps_0318.dat', iterator= True, chunksize=20000, usecols=cps_cols_to_keep)

#list for storing the dfs
cps_list = []


#iterator
for chunk in cps_iter:
    cps_temp = chunk[(chunk.TULINENO == 1) & (chunk.HRYEAR4 >= 2008)]
    cps_temp = cps_temp.rename(columns={'TUCASEID':'case_id','HUFAMINC':'faminc_1','HEFAMINC':'faminc_2','HRYEAR4':'year'})
    cps_list.append(cps_temp)

cps_final = pd.concat(cps_list)
cps_final.reset_index(drop=True, inplace=True)
cps_final.shape

#DATETIME

##Resampling date indexed data with .resample()

uses an aggrigator to resample dates
.sum()
.last()
requires DateTime data

In [0]:
import pandas as pd

# Read 'GDP.csv' into a DataFrame: gdp
gdp = pd.read_csv("GDP.csv", parse_dates=True, index_col='DATE')

# Slice all the gdp data from 2008 onward: post2008
post2008 = gdp.loc["2008":]

# Print the last 8 rows of post2008
print(post2008.tail(8))
"""   
     DATE               
    2014-07-01  17569.4
    2014-10-01  17692.2
    2015-01-01  17783.6
    2015-04-01  17998.3
    2015-07-01  18141.9
    2015-10-01  18222.8
    2016-01-01  18281.6
    2016-04-01  18436.5
"""
# Resample post2008 by year, keeping last(): yearly
yearly = post2008.resample('A').last() #last takes the last data point. sum would have summed all data for the year
#print(yearly.tail())
# Print yearly
print(yearly)
"""
DATE               
    2008-12-31  14549.9
    2009-12-31  14566.5
    2010-12-31  15230.2
    2011-12-31  15785.3
    2012-12-31  16297.3
    2013-12-31  16999.9
    2014-12-31  17692.2
    2015-12-31  18222.8
    2016-12-31  18436.5
"""
# Compute percentage growth of yearly: yearly['growth']
yearly['growth'] = yearly.pct_change()*100
"""
DATE               
    2008-12-31  14549.9
    2009-12-31  14566.5
    2010-12-31  15230.2
    2011-12-31  15785.3
    2012-12-31  16297.3
    2013-12-31  16999.9
    2014-12-31  17692.2
    2015-12-31  18222.8
    2016-12-31  18436.5
"""
# Print yearly again
print(yearly)

In [0]:
# Import matplotlib.pyplot with alias plt
import matplotlib.pyplot as plt

# Check individual values for missing values
print(avocados_2016.isna())
"""
        date  avg_price  total_sold  small_sold  large_sold  xl_sold  total_bags_sold  small_bags_sold  large_bags_sold  xl_bags_sold
    0   False      False       False       False       False    False            False            False            False         False
    1   False      False       False       False       False    False            False            False            False         False
    2   False      False       False       False        True    False            False            False            False         False
    3   False      False       False       False       False    False            False            False            False         False
    4   False      False       False       False       False     True            False            False            False         False
    5   False      False       False        True       False    False            False            False            False         False
    6   False      False       False       False       False    False            False            False            False         False
    7   False      False       False       False        True    False            False            False            False         False
    8   False      False       False       False       False    False            False            False            False         False
    9   False      False       False       False       False    False            False            False            False         False
    10  False      False       False       False        True    False            False            False            False         False
    11  False      False       False       False       False    False            False            False            False         False
    12  False      False       False       False       False    False            False            False            False         False
    13  False      False       False       False       False    False            False            False            False         False
    14  False      False       False       False       False    False            False            False            False         False

"""
# Check each column for missing values
print(avocados_2016.isna().any())
"""
  date               False
    avg_price          False
    total_sold         False
    small_sold          True
    large_sold          True
    xl_sold             True
    total_bags_sold    False
    small_bags_sold    False
    large_bags_sold    False
    xl_bags_sold       False
    dtype: bool
"""

# Bar plot of missing values by variable
avocados_2016.isna().sum().plot(kind="bar")

# Show plot
plt.show()

![alt text](https://drive.google.com/uc?id=1zmy5LsZR9xuyjcjZsZnH4L2R5l0aXtHM)

In [0]:
# Remove rows with missing values
avocados_complete = avocados_2016.dropna()

# Check if any columns contain missing values
print(avocados_complete.isna().any())
"""
    date               False
    avg_price          False
    total_sold         False
    small_sold         False
    large_sold         False
    xl_sold            False
    total_bags_sold    False
    small_bags_sold    False
    large_bags_sold    False
    xl_bags_sold       False
    dtype: bool"""

In [0]:
# From previous step
cols_with_missing = ["small_sold", "large_sold", "xl_sold"]
avocados_2016[cols_with_missing].hist()
plt.show()

![alt text](https://drive.google.com/uc?id=1bT7gw0XrzL6U7yGz1Y7_fX84Jmlkg5RB)

In [0]:
# Fill in missing values with 0
avocados_filled = avocados_2016.fillna(0)

# Create histograms of the filled columns
avocados_filled[cols_with_missing].hist()

# Show the plot
plt.show()

![alt text](https://drive.google.com/uc?id=11m6WBoCsAqmZQWhyQKrgw4zUEsl25_fW)

##SKYE PANDAS SLICING BY DATE

In [0]:
# Use Boolean conditions to subset temperatures for rows in 2010 and 2011
print(temperatures[(temperatures["date"] >= "2010") & (temperatures["date"] < "2012")])
"""
             date     city        country  avg_temp_c
    120   2010-01-01  Abidjan  Côte D'Ivoire      28.270
    121   2010-02-01  Abidjan  Côte D'Ivoire      29.262
    122   2010-03-01  Abidjan  Côte D'Ivoire      29.596
    123   2010-04-01  Abidjan  Côte D'Ivoire      29.068
    124   2010-05-01  Abidjan  Côte D'Ivoire      28.258
    ...          ...      ...            ...         ...
    16474 2011-08-01     Xian          China      23.069
    16475 2011-09-01     Xian          China      16.775
    16476 2011-10-01     Xian          China      12.587
    16477 2011-11-01     Xian          China       7.543
    16478 2011-12-01     Xian          China      -0.490
    
    [2400 rows x 4 columns]"""
# Set date as an index
temperatures_ind = temperatures.set_index("date")

# Use .loc[] to subset temperatures_ind for rows in 2010 and 2011
print(temperatures_ind.loc["2010":"2011"])
"""
               city        country  avg_temp_c
    date                                          
    2010-01-01  Abidjan  Côte D'Ivoire      28.270
    2010-02-01  Abidjan  Côte D'Ivoire      29.262
    2010-03-01  Abidjan  Côte D'Ivoire      29.596
    2010-04-01  Abidjan  Côte D'Ivoire      29.068
    2010-05-01  Abidjan  Côte D'Ivoire      28.258
    ...             ...            ...         ...
    2011-08-01     Xian          China      23.069
    2011-09-01     Xian          China      16.775
    2011-10-01     Xian          China      12.587
    2011-11-01     Xian          China       7.543
    2011-12-01     Xian          China      -0.490
    
    [2400 rows x 3 columns]"""

# Use .loc[] to subset temperatures_ind for rows from Aug 2010 to Feb 2011
print(temperatures_ind.loc["2010-08":"2011-02"])
"""
               city        country  avg_temp_c
    date                                          
    2010-01-01  Abidjan  Côte D'Ivoire      28.270
    2010-02-01  Abidjan  Côte D'Ivoire      29.262
    2010-03-01  Abidjan  Côte D'Ivoire      29.596
    2010-04-01  Abidjan  Côte D'Ivoire      29.068
    2010-05-01  Abidjan  Côte D'Ivoire      28.258
    ...             ...            ...         ...
    2011-08-01     Xian          China      23.069
    2011-09-01     Xian          China      16.775
    2011-10-01     Xian          China      12.587
    2011-11-01     Xian          China       7.543
    2011-12-01     Xian          China      -0.490
    
    [2400 rows x 3 columns]"""

In [0]:
# Get 23rd row, 2nd column (index 22, 1)
print(temperatures.iloc[22:23, 1:2])

# Use slicing to get the first 5 rows
print(temperatures.iloc[:6,:])

# Use slicing to get columns 3 to 4
print(temperatures.iloc[:,2:5])

# Use slicing in both directions at once
print(temperatures.iloc[:5,2:5])

##Using Date to split data
pd.to_datetime()

In [0]:
import pandas as pd
handwashing_start = pd.to_datetime('1847-06-01')

# Split monthly into before and after handwashing_start
before_washing = monthly[monthly["date"]<handwashing_start]
after_washing = monthly[monthly["date"]>=handwashing_start]

#Mathmatical opperations across dataframes

##simple math across a single dataframe

In [0]:
# Extract selected columns from weather as new DataFrame: temps_f
temps_f = weather[['Min TemperatureF','Mean TemperatureF','Max TemperatureF']]

# Convert temps_f to celsius: temps_c
temps_c = (temps_f-32)* 5/9

# Rename 'F' in column names with 'C': temps_c.columns
temps_c.columns = temps_c.columns.str.replace('F','C')

# Print first 5 rows of temps_c
print(temps_c.head())

## calculating percent change using .pct_change()

In [0]:
import pandas as pd

# Read 'GDP.csv' into a DataFrame: gdp
gdp = pd.read_csv("GDP.csv", parse_dates=True, index_col='DATE')

# Slice all the gdp data from 2008 onward: post2008
post2008 = gdp.loc["2008":]

# Print the last 8 rows of post2008
print(post2008.tail(8))
"""   
     DATE               
    2014-07-01  17569.4
    2014-10-01  17692.2
    2015-01-01  17783.6
    2015-04-01  17998.3
    2015-07-01  18141.9
    2015-10-01  18222.8
    2016-01-01  18281.6
    2016-04-01  18436.5
"""
# Resample post2008 by year, keeping last(): yearly
yearly = post2008.resample('A').last() #last takes the last data point. sum would have summed all data for the year
#print(yearly.tail())
# Print yearly
print(yearly)
"""
DATE               
    2008-12-31  14549.9
    2009-12-31  14566.5
    2010-12-31  15230.2
    2011-12-31  15785.3
    2012-12-31  16297.3
    2013-12-31  16999.9
    2014-12-31  17692.2
    2015-12-31  18222.8
    2016-12-31  18436.5
"""
# Compute percentage growth of yearly: yearly['growth']
yearly['growth'] = yearly.pct_change()*100
"""
DATE               
    2008-12-31  14549.9
    2009-12-31  14566.5
    2010-12-31  15230.2
    2011-12-31  15785.3
    2012-12-31  16297.3
    2013-12-31  16999.9
    2014-12-31  17692.2
    2015-12-31  18222.8
    2016-12-31  18436.5
"""
# Print yearly again
print(yearly)

## muliplying across df with another df using .multiply()

In [0]:
# Import pandas
import pandas as pd

# Read 'sp500.csv' into a DataFrame: sp500
sp500 = pd.read_csv("sp500.csv", parse_dates=True, index_col='Date')

# Read 'exchange.csv' into a DataFrame: exchange
exchange = pd.read_csv("exchange.csv", parse_dates=True, index_col='Date')

# Subset 'Open' & 'Close' columns from sp500: dollars
dollars = sp500[["Open","Close"]]

# Print the head of dollars
print(dollars.head())
"""
                   Open        Close
    Date                                
    2015-01-02  2058.899902  2058.199951
    2015-01-05  2054.439941  2020.579956
    2015-01-06  2022.150024  2002.609985
    2015-01-07  2005.550049  2025.900024
    2015-01-08  2030.609985  2062.139893
                       Open        Close"""
# Convert dollars to pounds: pounds
pounds = dollars.multiply(exchange["GBP/USD"], axis="rows")

# Print the head of pounds
print(pounds.head())
"""
                   Open        Close
    Date                                
    2015-01-02  1340.364425  1339.908750
    2015-01-05  1348.616555  1326.389506
    2015-01-06  1332.515980  1319.639876
    2015-01-07  1330.562125  1344.063112
    2015-01-08  1343.268811  1364.126161"""

## COUNT THE MAX NUMBER OF A COLUMN

In [0]:
most_songs = int(max(no_bands['num_songs'].values))

# Contatenating APPEND MERGE

In [0]:
# Initialize empty list: units
units = []

# Build the list of Series
for month in [jan, feb, mar]:
    units.append(month['Units'])

# Concatenate the list: quarter1
quarter1 = pd.concat(units, axis='rows')

# Print slices from quarter1
print(quarter1.loc['jan 27, 2015':'feb 2, 2015'])
print(quarter1.loc['feb 26, 2015':'mar 7, 2015'])
"""
    Date
    2015-01-27 07:11:55    18
    2015-02-02 08:33:01     3
    2015-02-02 20:54:49     9
    Name: Units, dtype: int64
    Date
    2015-02-26 08:57:45     4
    2015-02-26 08:58:51     1
    2015-03-06 10:11:45    17
    2015-03-06 02:03:56    17
    Name: Units, dtype: int64"""

## combining dfs along the row axis with 'ignore index" using append()

In [0]:
# Add 'year' column to names_1881 and names_1981
names_1881['year'] = 1881
names_1981['year'] = 1981

# Append names_1981 after names_1881 with ignore_index=True: combined_names
combined_names = names_1881.append(names_1981, ignore_index=True)

# Print shapes of names_1981, names_1881, and combined_names
print(names_1981.shape)
print(names_1881.shape)
print(combined_names.shape)
"""
    (19455, 4)
    (1935, 4)
    (21390, 4)"""

# Print all rows that contain the name 'Morgan'
print(combined_names[combined_names["name"]== "Morgan"])
"""
             name gender  count  year
    1283   Morgan      M     23  1881
    2096   Morgan      F   1769  1981
    14390  Morgan      M    766  1981
"""

##Concatenating dfs along the column axis

In [0]:
# Create a list of weather_max and weather_mean
weather_list = [weather_max,weather_mean]

# Concatenate weather_list horizontally
weather = pd.concat(weather_list, axis=1)

# Print weather
print(weather)
"""
      Max TemperatureF  Mean TemperatureF
    Apr              89.0          53.100000
    Aug               NaN          70.000000
    Dec               NaN          34.935484
    Feb               NaN          28.714286
    Jan              68.0          32.354839
    Jul              91.0          72.870968
    Jun               NaN          70.133333
    Mar               NaN          35.000000
    May               NaN          62.612903
    Nov               NaN          39.800000
    Oct              84.0          55.451613
    Sep               NaN          63.766667
"""

##Concatenating over multiple csv files along the column axis

In [0]:
#Initialize an empyy list: medals
medals =[]
#medal_types = ["bronze", "silver", "gold"]

for medal in medal_types:
    # Create the file name: file_name
    file_name = "%s_top5.csv" % medal
    # Create list of column names: columns
    columns = ['Country', medal]
    # Read file_name into a DataFrame: medal_df
    medal_df = pd.read_csv(file_name, header=0, index_col='Country', names=columns)
    # Append medal_df to medals
    medals.append(medal_df)

# Concatenate medals horizontally: medals_df
medals_df = pd.concat(medals, axis='columns')
"""
                    bronze  silver    gold
    France           475.0   461.0     NaN
    Germany          454.0     NaN   407.0
    Italy              NaN   394.0   460.0
    Soviet Union     584.0   627.0   838.0
    United Kingdom   505.0   591.0   498.0
    United States   1052.0  1195.0  2088.0"""

##SKYE_PANDAS_Joining_two_DFs

In [0]:
 merge = pd.merge(df,error, left_on=['series_id', 'year'], right_on=['series_id', 'year'], how='left').reset_index(drop=True).copy(deep=True)